/* Main app */
html {
  background-color: #282c34;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: grid;
  grid-row-gap: 20px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 250px;
}

.page {
  z-index: 1; /* Bring the div to the front */
  transform: scale3d(0.9, 0.9, 1.2);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  background-color:#00000063;
  
}

::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.page:hover {
  
  transform: scale3d(1, 1, 1);
  box-shadow: rgba(3, 254, 229, 0.209) 0px 7px 29px 0px;
  transition: transform 0.5s ease-in-out;
}

h1 {
  text-align: center;
}


p * {
  color: white;
}

.number {
  font-weight: bolder;
  font-size: 25px;
}



/* H1 "logo" */



.patterns svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #61dafb;
  font-size: 80px;
  font-weight: 700;
  stroke-width: 3;
 
  animation: textAnimate 5s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 68%, 75%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}

/*  */

h1, h2, h3, h4, h5 {
  color: #bfeefb;
}

/* Grid handling */

.top-left {
  grid-column-end: span 1;
  padding: 0px 15px 0px 15px;
}

.top-center {
  grid-column-end: span 2;
  overflow: auto;
  padding: 0px 15px 0px 15px;
}

.top-right {
  grid-column-end: span 1;
  padding: 0px 15px 0px 15px; 
}

.schoolName {
  display: inline-block;
}
.schoolName::first-letter {
  text-transform: capitalize;
}

.campusText {
  color: white;
}
/* Line graph */

#titleGraph1 {
  cursor: pointer;
  font-size: 50px !important;
}

#Graph1 {
  height: 510px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-left {
  grid-column-end: span 2;

}

#Graph1 h2 {
  margin-bottom: 0;
}

#Graph1 p {
  font-size: larger;
  font-weight: bold;
}
#Graph1 span {
  color: #61dafb;
}


/* Bar chart */

#Graph2 {
  height: 510px;
}

.bottom-right {
  grid-column-end: span 2;
}


#Graph2 h2 {
  text-align: center;
}

.graph2 {
  transform: translateY(24px) translateX(50px);
}

.bar-xaxis-text {
  color: white !important;
}

/* Skills */

.skill-type {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 0;
  font-style: italic;
}

.crslBtnContainer {
  display: flex;
  justify-content: space-evenly;
}

.sliderBtn {
  background-color: transparent;
  color: white;
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
}
.sliderBtn:hover {
  color: grey;
}



/* other */

p {
  color:rgba(255, 255, 255, 0.708);
}