
html {
  background-color: #282c34;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1.5, 1fr);
  grid-row-gap: 20px;
  grid-auto-rows: 300px;
  justify-items: stretch;
  align-items: stretch;
  padding: 20px;
}


.top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.bottom {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}


text {
  transform: scaleY(1);
}

/* .App>div:last-child {
  grid-column: span 2;
} */

.App-link {
  color: #61dafb;
}

.page {
  border: 1px solid black;

}

#projects {
  overflow: scroll;
}

#graphs {
  overflow: auto;
}

h1 {
  text-align: center;
  color: #61dafb;

}

li, p, h2, h3, h4, h5 {
  color: white;
}
